<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{$site.cn_description}">
    <meta name="Keywords" content="{$site.cn_keywords}">
    <title>{$site.cn_title}</title>
    <link type="text/css" href="__PUBLIC__/style/css/system.css" rel="stylesheet">
    <style>
    	.overlayer p{margin-top:95px;line-height: 32px;color: #c6dcd6;font-size: 18px;}
    </style>
  </head>

  <body>
    <div class="header2">
      <div class="header2-wrap">
        <h1 class="logo">
          <a href="{:U('/Home/Index/index')}" title="1001HOTEL">1001HOTEL</a>
        </h1>
        <ul class="nav">
          <li><a href="{:U('/Home/About/index')}">关于1001</a></li>
          <li><a class="active" href="{:U('/Home/System/index')}">1001酒店系统</a></li>
          <li><a href="{:U('/Home/Union/index')}">1001梦幻联盟</a></li>
          <li><a href="#">在建 1001酒店</a></li>
          <li><a href="{:U('/Home/Info/index')}">1001资讯</a></li>
          <li><a href="#">联系1001</a></li>
        </ul>
      </div>
    </div>

    <div class="about-video">
      <object type="application/x-shockwave-flash" id="VzPlayerMx2" name="VzPlayerMx2" align="middle" data="http://player.cztv.com/player/VzPlayerMx2.swf" width="100%" height="100%">
        <param name="quality" value="high">
        <param name="bgcolor" value="#000000">
        <param name="allowscriptaccess" value="always">
        <param name="allowfullscreen" value="true">
        <param name="flashvars" value="path=http://video.cztv.com/video/rzx/201406/12/2cc5168dc05f6d31e94950656422a80f1402562991.mp4&amp;auto=0&amp;videoid=1611888&amp;videotitle=2014NBA马刺VS热火第3场詹姆斯得分实录&amp;videocolumn=米秀分享/体育&amp;videoedit=yewen&amp;recommend=0">
      </object>
    </div>
    
    <div class="subnav-placeholder">
      <div class="subnav system-subnav">
        <a class="current" href="#">酒店与业态设计</a>
        <a href="#">T-BOX®房屋系统</a>
        <a href="#">1001环保系统</a>
        <a href="#">智能管家</a>
        <a href="#">运营系统</a>
        <a href="#">顾问管理</a>
      </div>
    </div>
    
    <div id="system-floor0" class="floor design">
      <div class="floor-wrap">
        <h2 class="floor-title">酒店与业态设计</h2>
        <div class="design-banner">
          <ul id="banner-list3" class="banner-list3">
            <li class="banner0 current" data-image="__PUBLIC__/images/design-banner1.jpg">
              <p class="overlayer">土地流转方式建议、政府政策应对、项目可行性分析</p>
            </li>
            <li class="banner1" data-image="__PUBLIC__/images/design-banner2.jpg">
              <p class="overlayer">总体策划、概念性总体规划、商业模式策划、休闲度假产品策划、度假产品升级</p>
            </li>
            <li class="banner2" data-image="__PUBLIC__/images/design-banner3.jpg">
              <p class="overlayer">创意生态建筑设计、自然景观设计、野奢酒店环境设计、业态运营设计</p>
            </li>
            <li class="banner3" data-image="__PUBLIC__/images/design-banner4.jpg">
              <p class="overlayer">T-box®酒店硬件系统设计与制造、酒店运营配套设施设计</p>
            </li>
            <li class="banner4" data-image="__PUBLIC__/images/design-banner5.jpg">
              <p class="overlayer">财务预测、运营结构设计、运营费用/收入预测</p>
            </li>
          </ul>
        </div>
        <ol id="banner-ctrl3" class="banner-ctrl3">
          <li class="current">市场可行性咨询</li>
          <li>项目策划与规划</li>
          <li>景观、建筑及业态设计</li>
          <li>酒店系统与运营设施设计</li>
          <li>运营及财务模型设计</li>
        </ol>
      </div>
    </div>

    <div id="system-floor1" class="floor housing">
      <div class="floor-wrap">
        <h2 class="floor-title">房屋系统</h2>
        <div class="housing-banner">
          <ul id="banner-list2" class="banner-list2">
            <li class="banner0 current" data-image="__PUBLIC__/images/housing-banner1.jpg"></li>
            <li class="banner1" data-image="__PUBLIC__/images/housing-banner2.jpg"></li>
            <li class="banner2" data-image="__PUBLIC__/images/housing-banner3.jpg"></li>
            <li class="banner3" data-image="__PUBLIC__/images/housing-banner4.jpg"></li>
            <li class="banner4" data-image="__PUBLIC__/images/housing-banner5.jpg"></li>
            <li class="banner5" data-image="__PUBLIC__/images/housing-banner6.jpg"></li>
            <li class="banner6" data-image="__PUBLIC__/images/housing-banner7.jpg"></li>
          </ul>
          <ol id="banner-ctrl2" class="banner-ctrl2">
            <li class="current">0</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
          </ol>
          <a id="btn-prev" class="btn-prev" href="#">&lt;</a>
          <a id="btn-nxt" class="btn-nxt" href="#">&gt;</a>
        </div>
        
        <!-- <ul class="housing-advantage">
          <li class="current">轻质</li>
          <li>环保</li>
          <li>模块化</li>
          <li>可靠</li>
          <li>高效</li>
          <li>安全</li>
        </ul> -->
      </div>
    </div>

    <div id="system-floor2" class="floor environmental">
      <div class="floor-wrap">
        <h2 class="floor-title">1001环保系统</h2>
        <div class="environmental-box">
          <div class="left-side">
            <div class="environmental-video">
              <object type="application/x-shockwave-flash" id="VzPlayerMx2" name="VzPlayerMx2" align="middle" data="http://player.cztv.com/player/VzPlayerMx2.swf" width="100%" height="100%">
                <param name="quality" value="high">
                <param name="bgcolor" value="#000000">
                <param name="allowscriptaccess" value="always">
                <param name="allowfullscreen" value="true">
                <param name="flashvars" value="path=http://video.cztv.com/video/rzx/201406/12/2cc5168dc05f6d31e94950656422a80f1402562991.mp4&amp;auto=0&amp;videoid=1611888&amp;videotitle=2014NBA马刺VS热火第3场詹姆斯得分实录&amp;videocolumn=米秀分享/体育&amp;videoedit=yewen&amp;recommend=0">
              </object>
            </div>
            <div class="environmental-unit unit1">
              <img src="__PUBLIC__/images/environment2.jpg" width="367" height="292">
              <div class="overlayer">
                <p style="line-height: 24px;">我们运用先进的微生物水处理技术，<br>将收集的自然水源和生活污水直接处理，<br>达可<span>循环使用</span style="color:#c59a70;">或<span style="color:#c59a70;">自然排放标准</span>（国家一级出水标准）<br>是目前全球减少自然保护区环境污染最有效的技术。</p>
                <p style="margin-top: 24px;line-height: 24px;">-<span style="color:#c59a70;">简洁</span>：无需依靠市政集中排污和大型下水管道<br>-<span style="color:#c59a70;">高效</span>：污水即时流入系统，即时被净化并排出<br>-<span style="color:#c59a70;">低成本</span>：制造初始投入成本远低于铺设市政排污<br>1001 HOTEL还对此系统加以利用，<br>实现真正的水源净化自循环系统。</p>
              </div>
            </div>
            <div class="environmental-unit unit2">
              <img src="__PUBLIC__/images/environment2.jpg" width="346" height="292">
              <div class="overlayer">
                <p style="margin-top: 50px;line-height: 34px;font-size: 16px;">处理前污水水质：<span style="font-size:20px;color:#c59a70;">BOD≈200mg/L</span><p>
                <p style="line-height: 34px;font-size: 16px;">处理后流出水质：<span style="font-size:20px;color:#c59a70;">BOD≤20mg/L</span></p>
                <p style="line-height: 34px;font-size: 14px;">注：根据《城镇污水处理厂污染物排放标准》中规定，国家一级出水标准为BOD≤20mg/L。</p>
              </div>
            </div>
          </div>
          <div class="right-side">
            <div class="environmental-unit unit3">
              <img src="__PUBLIC__/images/environment3.jpg" width="397" height="283">
              <div class="overlayer">
                <ul style="font-size: 16px;line-height: 29px;">
                  <li style="list-style: url(__PUBLIC__/images/icon10.png) inside;">雨水、自然水源收集</li>
                  <li style="list-style: url(__PUBLIC__/images/icon10.png) inside;">固液体自动沉淀分离</li>
                  <li style="list-style: url(__PUBLIC__/images/icon10.png) inside;">微生物技术直接净化水源</li>
                  <li style="list-style: url(__PUBLIC__/images/icon10.png) inside;">净化水用于日常生活使用</li>
                  <li style="list-style: url(__PUBLIC__/images/icon10.png) inside;">设备直接处理生活污水</li>
                  <li style="list-style: url(__PUBLIC__/images/icon10.png) inside;">处理后水达自然排放标准</li>
                  <li style="list-style: url(__PUBLIC__/images/icon10.png) inside;">可直接排入大自然</li>
                </ul>
                <p style="line-height: 34px;font-size: 20px;color:#f4b837;">最大限度避免环境污染</p>
              </div>
            </div>
            <div class="environmental-unit unit4">
              <img src="__PUBLIC__/images/environment4.jpg" width="397" height="414">
              <div class="overlayer">
                <p style="margin-top: 90px;line-height: 36px;font-size: 16px;">我们全部采用含有机成分的洗涤用品，<br>从源头上杜绝对水源的浪费；<br>同时布草统一选用<br><span style="color:#c59a70;">环保、易再生、亲肤、舒适</span><br>的环保织物，对自然环境绝对友好。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="system-floor3" class="floor housekeeper">
      <div class="floor-wrap">
        <h2 class="floor-title">智能管家</h2>
        <ul class="housekeeper-list">
          <li>
            <img src="__PUBLIC__/images/housekeeper1.jpg" width="277px" height="257px">
            <div class="overlayer">
              <p style="margin-top:95px;line-height: 32px;color: #c6dcd6;font-size: 18px;">远程移动端<br>可控制室内智能电器</p>
            </div>
          </li>
          <li>
            <img src="__PUBLIC__/images/housekeeper2.jpg" width="277px" height="257px">
            <div class="overlayer">
              <p style="margin-top:95px;line-height: 32px;color: #c6dcd6;font-size: 18px;">室内平板电脑<br>可控制智能电器</p>
            </div>
          </li>
          <li>
            <img src="__PUBLIC__/images/housekeeper3.jpg" width="277px" height="257px">
            <div class="overlayer">
              <p style="margin-top:95px;line-height: 32px;color: #c6dcd6;font-size: 18px;">通过400专线<br>控制室内智能电器</p>
            </div>
          </li>
          <li>
            <img src="__PUBLIC__/images/housekeeper4.jpg" width="277px" height="257px">
            <div class="overlayer">
              <p style="margin-top:95px;line-height: 32px;color: #c6dcd6;font-size: 18px;">给您的度假生活<br>配备一个“隐形管家”</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div id="system-floor4" class="floor operation">
      <div class="floor-wrap">
        <h2 class="floor-title">运营系统</h2>
        <ul class="operation-list">
          <li>
            <img src="__PUBLIC__/images/system-operation1.jpg" width="376" height="223">
            <div class="overlayer">
              <p style="margin-top:50px;line-height: 32px;color: #c6dcd6;font-size: 18px;">精心设计的度假酒店大堂及公共配套功能在野外打造无处不在的野奢度假享受。</p>
            </div>
          </li>
          <li>
            <img src="__PUBLIC__/images/system-operation2.jpg" width="376" height="223">
            <div class="overlayer">
              <p style="margin-top:50px;line-height: 32px;color: #c6dcd6;font-size: 18px;">创新性地将酒店餐饮、会议、娱乐、后勤等各功能区碎片化设计，大大节约能耗 。</p>
            </div>
          </li>
          <li>
            <img src="__PUBLIC__/images/system-operation3.jpg" width="376" height="223">
            <div class="overlayer">
              <p style="margin-top:50px;line-height: 32px;color: #c6dcd6;font-size: 18px;">我们有一整套全方位的野外放置蚊虫蛇鼠解决方案，让客人置身于一个免受干扰的户外度假环境。</p>
            </div>
          </li>
          <li>
            <img src="__PUBLIC__/images/system-operation4.jpg" width="376" height="223">
            <div class="overlayer">
              <p style="margin-top:25px;line-height: 26px;color: #c6dcd6;font-size: 16px;">防潮机制：</p> 
              <p style="line-height: 32px;color: #c6dcd6;font-size: 16px;">-  智能系统实时检测室内空气湿度与质量，并自动打开设备除湿换气。</p>
              <p style="line-height: 26px;color: #c6dcd6;font-size: 16px;">-  安排专人按照户外酒店客房防潮除湿管理准则，定时除湿换气，客人不经意间感受始终如一的室内舒适。</p>
            </div>
          </li>
          <li>
            <img src="__PUBLIC__/images/system-operation5.jpg" width="376" height="223">
            <div class="overlayer">
              <p style="margin-top:50px;line-height: 32px;color: #c6dcd6;font-size: 18px;">完善的消防装置设计，包括消防通道、消防栓、智能检测、消防喷淋……最大限度预防一切意外的发生。</p>
            </div>
          </li>
          <li>
            <img src="__PUBLIC__/images/system-operation6.jpg" width="376" height="223">
            <div class="overlayer">
              <p style="margin-top:30px;line-height: 32px;color: #c6dcd6;font-size: 18px;">辅助性设施体现于室内与室外的细微环节，包含安全铃、围栏、照明、标识、智能空气感应……客人想得到的、想不到的，我们都照顾到。</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div id="system-floor5" class="floor consulting">
      <div class="floor-wrap">
        <h2 class="floor-title">酒店顾问管理</h2>
        <ul class="consulting-list">
          <li>
            <img src="__PUBLIC__/images/system-consulting1.jpg" width="577" height="355">
            <div class="overlayer"><p>我们提供免费<br>人力资源培训</p></div>
          </li>
          <li>
            <img src="__PUBLIC__/images/system-consulting2.jpg" width="577" height="355">
            <div class="overlayer"><p>我们提供<br>户外度假酒店管理标准</p></div>
          </li>
          <li>
            <img src="__PUBLIC__/images/system-consulting3.jpg" width="577" height="355">
            <div class="overlayer"><p>我们提供<br>顾问管理服务</p></div>
          </li>
          <li>
            <img src="__PUBLIC__/images/system-consulting4.jpg" width="577" height="355">
            <div class="overlayer"><p>我们拥有<br>培训运营中心</p></div>
          </li>
        </ul>
      </div>
    </div>

    <div class="floor joinus">
      <div class="floor-wrap">
        <h2 class="floor-title">加盟1001</h2>
        <dl class="join-steps">
          <dt>1001野奢度假酒店加盟流程</dt>
          <dd>
            <span>参观了解<br>1001 HOTEL</span>
            <i class="icon-arrow"></i>
          </dd>
          <dd>
            <span>有意向者提交<br>加盟申请</span>
            <i class="icon-arrow"></i>
          </dd>
          <dd>
            <span>品牌委员会<br>门槛调查</span>
            <i class="icon-arrow"></i>
          </dd>
          <dd>
            <span>接受规划设计要求<br>愿意加入1001网络</span>
            <i class="icon-arrow"></i>
          </dd>
          <dd class="last">
            <span>项目总体规划<br>酒店业态设计</span>
            <span>低价格购买<br>T-box®系统</span>
            <span>酒店运营设计<br>酒店管理体系</span>
            <span>品牌推广支撑<br>客源服务支持</span>
          </dd>
        </dl>
        <a class="icon-download" href="#">DOWNLOAD</a>
      </div>
    </div>

    <!-- 包含底部文件 -->
      <include file="Public:foot"/>
    <script src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/system.js"></script>
  </body>
</html>