<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="Keywords" content="">
    <title>1001HOTEL</title>
    <link type="text/css" href="__PUBLIC__/style/css/index.css" rel="stylesheet">
  </head>

  <body>
    <div class="header">
      <h1 class="logo">
        <a href="index.html" title="1001HOTEL">1001HOTEL</a>
      </h1>
      <ul class="nav">
        <li><a href="about.html">关于1001</a></li>
        <li><a href="system.html">1001酒店系统</a></li>
        <li><a href="union.html">1001梦幻联盟</a></li>
        <li><a href="#">在建 1001酒店</a></li>
        <li><a href="#">1001资讯</a></li>
        <li><a href="#">联系1001</a></li>
      </ul>
    </div>

    <div class="banner"  style="height:500px;">
      <ul id="banner-list" class="banner-list">
        <li class="banner0 current" data-image="__PUBLIC__/images/banner1.jpg">
        </li>
        <li class="banner1" data-image="__PUBLIC__/images/banner2.jpg">

        </li>
        <li class="banner2" data-image="__PUBLIC__/images/banner3.jpg">

        </li>
        <li class="banner3" data-image="__PUBLIC__/images/banner4.jpg">

        </li>
      </ul>
      <ol id="banner-ctrl" class="banner-ctrl">
        <li class="current">0</li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ol>
      <span class="btn-video-arrow">
        <a href="#"></a>
      </span>
    </div>

    <div class="video-area">
      <div class="video-wrap">
        <object type="application/x-shockwave-flash" id="VzPlayerMx2" name="VzPlayerMx2" align="middle" data="http://player.cztv.com/player/VzPlayerMx2.swf" width="100%" height="100%">
          <param name="quality" value="high">
          <param name="bgcolor" value="#000000">
          <param name="allowscriptaccess" value="always">
          <param name="allowfullscreen" value="true">
          <param name="flashvars" value="path=http://video.cztv.com/video/rzx/201406/12/2cc5168dc05f6d31e94950656422a80f1402562991.mp4&amp;auto=0&amp;videoid=1611888&amp;videotitle=2014NBA马刺VS热火第3场詹姆斯得分实录&amp;videocolumn=米秀分享/体育&amp;videoedit=yewen&amp;recommend=0">
        </object>
      </div>

      <div class="footer">
        <div class="footer-wrap">
          <p class="copyright">1001 HOTEL© 2014 December</p>
          <ul class="footer-links">
            <li><a class="link1" href="#" title="facebook"></a></li>
            <li><a class="link2" href="#" title="goole"></a></li>
            <li><a class="link3" href="#" title="twitter"></a></li>
            <li><a class="link4" href="#" title="in"></a></li>
            <li><a class="link5" href="#" title="xxx"></a></li>
            <li><a class="link6" href="#" title="xxx"></a></li>
            <li><a class="link7" href="#" title="xxx"></a></li>
            <li><a class="link8" href="#" title="xxx"></a></li>
            <li><a class="link9" href="#" title="rss"></a></li>
          </ul>
        </div>
      </div>
    </div>

    <script src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/index.js"></script>
  </body>
</html>