<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{$site.cn_description}">
    <meta name="Keywords" content="{$site.cn_keywords}">
    <title>关于1001-{$site.cn_title}</title>
    <link type="text/css" href="__PUBLIC__/style/css/about.css" rel="stylesheet">
  </head>

  <body>
    <div class="header2">
      <div class="header2-wrap">
        <h1 class="logo">
          <a href="{:U('/Home/Index/index')}" title="1001HOTEL">1001HOTEL</a>
        </h1>
        <ul class="nav">
          <li><a class="active" href="{:U('/Home/About/index')}">关于1001</a></li>
          <li><a href="{:U('/Home/System/index')}">1001酒店系统</a></li>
          <li><a href="{:U('/Home/Union/index')}">1001梦幻联盟</a></li>
          <li><a href="{:U('/Home/Buiding/index')}">在建 1001酒店</a></li>
          <li><a href="{:U('/Home/Info/index')}">1001资讯</a></li>
          <li><a href="{:U('/Home/Join/index')}">联系1001</a></li>
        </ul>
      </div>
    </div>

    <div class="banner2"></div>

    <div class="subnav-placeholder">
      <div class="subnav">
        <a class="current" href="#">公司简介</a>
        <a href="#">品牌故事</a>
        <a href="#">获奖与专利</a>
        <a href="#">旗下品牌</a>
      </div>
    </div>

    <div id="about-floor0" class="floor overview">
      <div class="floor-wrap">
        <h2 class="floor-title">公司简介</h2>

        <div class="section">
          <img style="float:left;margin: 0 40px 48px 0;" src="__UPLOADS__{$jianjie.images1}" width="482" height="305">
          <h3 style="margin-bottom: 20px;font-size: 22px;font-weight: normal;color: #c59a6d;">{$jianjie.cn_title}</h3>
          {$jianjie.cn_content}
        </div>

        <div class="section">
          <img style="float:right;margin: 0 0 48px 40px;" src="__UPLOADS__{$bless.images1}" width="511" height="291">
          <h3 style="margin-bottom: 20px;font-size: 22px;font-weight: normal;color: #c59a6d;">{$bless.cn_title}</h3>
          {$bless.cn_content}
        </div>

        <div class="section">
          <h3 class="section-title">业务板块</h3>
          <ul class="business-block">
            <li>
              <img src="__UPLOADS__{$bkone.images1}" width="370" height="360" alt="">
              <div class="overlayer">
                <a class="btn-close" href="#">关闭</a>
                {$bkone.cn_content}
                <p style="position: absolute;bottom: 64px;left: 0;width: 100%;margin: 0;font-size: 18px;text-align: center;">详情点击：</p>
                <p style="position: absolute;bottom: 26px;left: 0;width: 100%;margin: 0;font-size: 18px;text-align: center;"><a style="color: #46aeff;text-decoration: underline;" href="{$bkone.cn_keywords}" target="_blank">{$bkone.cn_keywords}</a></p>
              </div>
            </li>
            <li>
              <img src="__UPLOADS__{$bktwo.images1}" width="370" height="360" alt="">
              <div class="overlayer">
                <a class="btn-close" href="#">关闭</a>
                {$bktwo.cn_content}
                <p style="position: absolute;bottom: 64px;left: 0;width: 100%;margin: 0;font-size: 18px;text-align: center;">详情点击：</p>
                <p style="position: absolute;bottom: 26px;left: 0;width: 100%;margin: 0;font-size: 18px;text-align: center;"><a style="color: #46aeff;text-decoration: underline;" href="{$bktwo.cn_keywords}" target="_blank">{$bktwo.cn_keywords}</a></p>
              </div>
            </li>
          </div>
        </div>
      </div>
    </div>

    <div id="about-floor1" class="floor story">
      <div class="floor-wrap">
        <h2 class="floor-title">品牌与故事</h2>
        <dl class="story-list">
          <dt><span>1001 HOTEL 的由来</span></dt>
          <dd class="left">
            <p class="date">
              <span class="dot"></span>
              1908年
            </p>
            <div class="story-box">
              <img class="album" src="__UPLOADS__{$story_one.images1}" width="64" height="64">
              <img class="big-album" style="margin-top: -145px;" src="__UPLOADS__{$story_one.images2}" width="511" height="291">
              <p style="float: right;width: 268px;color: #000;line-height: 24px;font-size: 15px;">{$story_one.cn_description}</p>
            </div>
          </dd>
          <dd class="right">
            <p class="date">
              <span class="dot"></span>
              1950年
            </p>
            <div class="story-box">
              <img class="album" data-img="__UPLOADS__{$story_two.images1}" src="__UPLOADS__{$story_two.images1}" width="64" height="64">
              <img class="big-album" style="margin-top: -117px;" src="__UPLOADS__{$story_two.images2}" width="368" height="235">
              <p style="float: right;width: 268px;color: #000;line-height: 24px;font-size: 15px;">{$story_two.cn_description}</p>
            </div>
          </dd>
          <dt><span>一千零一夜之梦</span></dt>
          <dd class="left">
            <p class="date">
              <span class="dot"></span>
              2006年
            </p>
            <div class="story-box">
              <img class="album" data-img="__UPLOADS__{$story_three.images1}" src="__UPLOADS__{$story_three.images1}" width="64" height="64">
              <img class="big-album" style="margin-top: -179px;" src="__UPLOADS__{$story_three.images2}" width="397" height="349">
              <p style="float: right;width: 268px;color: #000;line-height: 24px;font-size: 15px;">{$story_three.cn_description}</p>
            </div>
          </dd>
          <dt><span>梦想启航，全新的1001 HOTEL</span></dt>
          <dd class="right">
            <p class="date">
              <span class="dot"></span>
              2008年
            </p>
            <div class="story-box">
              <img class="album" data-img="__UPLOADS__{$story_four.images1}" src="__UPLOADS__{$story_four.images1}" width="64" height="64">
              <img class="big-album" style="margin-top: -315px;" src="__UPLOADS__{$story_four.images2}" width="370" height="630">
              <p style="float: right;width: 268px;color: #000;line-height: 24px;font-size: 15px;">{$story_four.cn_description}</p>
            </div>
          </dd>
          <dt><span>全新的1001 HOTEL正式进入亚洲</span></dt>
          <dd class="left">
            <p class="date">
              <span class="dot"></span>
              2011年
            </p>
            <div class="story-box">
              <img class="album" data-img="__UPLOADS__{$story_five.images1}" src="__UPLOADS__{$story_five.images1}" width="64" height="64">
              <img class="big-album" style="margin-top: -154px;" src="__UPLOADS__{$story_five.images2}" width="439" height="308">
              <p style="float: right;width: 268px;color: #000;line-height: 24px;font-size: 15px;">{$story_five.cn_description}</p>
            </div>
          </dd>
          <dt><span>梦想起航</span></dt>
        </dl>
        <div class="summary">
          <div class="summary-wrap">
            {$story_go.cn_content}
            <p style="color: #191918;">1001 HOTEL</p>
          </div>
        </div>
      </div>
    </div>

    <div id="about-floor2" class="floor adwards">
      <div class="floor-wrap">
        <h2 class="floor-title">获奖与专利</h2>
        <div id="adwards-slider">
          <ul class="adwards-list">
			<foreach name="adword" item="v">
            <li>
              <img src="__UPLOADS__{$v.images1}" width="312" height="435" alt="{$v.cn_name}">
              <p>{$v.cn_name}</p>
              <span>{$v.cn_keywords}</span>
            </li>
           </foreach>
          </ul>
        </div>
      </div>
    </div>

    <div id="about-floor3" class="floor brand">
      <div class="floor-wrap">
        <h2 class="floor-title">旗下品牌</h2>
        <ul class="brand-list">
		<foreach name="brand" item="v" key="k">
          <li><a class="list{$k}" data-img="__UPLOADS__{$v.images2}" href="javascript:void(0)">{$v.cn_name}</a></li>
          </foreach>
        </ul>

        <div class="popup-brand">
          <div class="popup-main">
            <a class="btn-close" href="#">关闭</a>
            <img src="" width="960" height="540">
          </div>
        </div>
      </div>
    </div>

    <!-- 包含底部文件 -->
      <include file="Public:foot"/>
    <script src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
    <script src="__PUBLIC__/js/about.js"></script>
  </body>
</html>